VITE_RAPIDAPI_KEY=087ca98dcemsh105119e50d6ac3cp1d92cbjsn43c7455cb31a
VITE_RAPIDAPI_HOST=irctc-indian-railway-pnr-status.p.rapidapi.com
VITE_PNR_STATUS_URL=https://irctc-indian-railway-pnr-status.p.rapidapi.com/getPNRStatus